$primary: #FFE600;
$light: #FFFFFF;
$light-gray: #EEEEEE;
$medium-gray: #999999;
$dark-gray: #666666;
$very-dark-gray: #333333;
$blue-button: #3483FA;

$lg: 992px;
$space-small: 16px;
$space-big: 32px;
$radius: 4px;
